## Deliverable 2. Create a Customer Travel Destinations Map.

In [81]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
import numpy as np


# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [82]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv(r"C:\Users\rickj\Documents\Bootcamp1\Homework\Weather_Database\WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Alfred,ZA,2022-07-02 21:27:25,-33.5906,26.8910,70.50,56,13,9.69,few clouds
1,1,Victoria,HK,2022-07-02 21:26:23,22.2855,114.1577,84.38,85,100,25.01,light rain
2,2,Punta Arenas,CL,2022-07-02 21:27:25,-53.1500,-70.9167,37.51,75,75,13.80,broken clouds
3,3,Ushuaia,AR,2022-07-02 21:27:26,-54.8000,-68.3000,40.66,52,20,10.36,few clouds
4,4,Ribeira Grande,PT,2022-07-02 21:27:26,38.5167,-28.7000,67.51,79,5,15.37,clear sky

In [83]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for you trip?"))

What is the minimum temperature you would like for your trip?0
What is the maximum temperature you would like for you trip?100

In [84]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Weather Description
0,0,Port Alfred,ZA,2022-07-02 21:27:25,-33.5906,26.8910,70.50,56,13,9.69,few clouds
1,1,Victoria,HK,2022-07-02 21:26:23,22.2855,114.1577,84.38,85,100,25.01,light rain
2,2,Punta Arenas,CL,2022-07-02 21:27:25,-53.1500,-70.9167,37.51,75,75,13.80,broken clouds
3,3,Ushuaia,AR,2022-07-02 21:27:26,-54.8000,-68.3000,40.66,52,20,10.36,few clouds
4,4,Ribeira Grande,PT,2022-07-02 21:27:26,38.5167,-28.7000,67.51,79,5,15.37,clear sky

In [85]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().count()

City_ID                583
City                   583
Country                583
Date                   583
Lat                    583
Lng                    583
Max Temp               583
Humidity               583
Cloudiness             583
Wind Speed             583
Weather Description    583
dtype: int64

In [86]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df.isnull().sum()

City_ID                0
City                   0
Country                0
Date                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Weather Description    0
dtype: int64

In [87]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Weather Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,70.50,few clouds,-33.5906,26.8910,
1,Victoria,HK,84.38,light rain,22.2855,114.1577,
2,Punta Arenas,CL,37.51,broken clouds,-53.1500,-70.9167,
3,Ushuaia,AR,40.66,few clouds,-54.8000,-68.3000,
4,Ribeira Grande,PT,67.51,clear sky,38.5167,-28.7000,
5,Rikitea,PF,74.01,light rain,-23.1203,-134.9692,
6,Butaritari,KI,82.58,light rain,3.0707,172.7902,
7,Middelburg,ZA,48.61,clear sky,-25.7751,29.4648,
8,Cidreira,BR,66.27,scattered clouds,-30.1811,-50.2056,
9,Ordu,TR,57.70,clear sky,40.9086,37.6845,

In [88]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [89]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Weather Description,Lat,Lng,Hotel Name
0,Port Alfred,ZA,70.50,few clouds,-33.5906,26.8910,The Halyards Hotel
1,Victoria,HK,84.38,light rain,22.2855,114.1577,Mini Central
2,Punta Arenas,CL,37.51,broken clouds,-53.1500,-70.9167,Hotel Hain
3,Ushuaia,AR,40.66,few clouds,-54.8000,-68.3000,Albatross Hotel
4,Ribeira Grande,PT,67.51,clear sky,38.5167,-28.7000,Quinta da Meia Eira
5,Rikitea,PF,74.01,light rain,-23.1203,-134.9692,People ThankYou
6,Butaritari,KI,82.58,light rain,3.0707,172.7902,Isles Sunset Lodge
7,Middelburg,ZA,48.61,clear sky,-25.7751,29.4648,Oregon Place Guest House
8,Cidreira,BR,66.27,scattered clouds,-30.1811,-50.2056,Hotel Castelo
9,Ordu,TR,57.70,clear sky,40.9086,37.6845,Orencik Koyu Muhtarligi

In [90]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [91]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Weather Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [92]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))